body {
    margin-top: 50px;
}

.jumbotron {
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #aaa;
    overflow: hidden;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #333;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
    width: 250px;
    border-top: 3px solid #999;
}

section {
    min-height: 600px;
}

.pKiri,
.pKanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio {
    background-color: #eee;
}

.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, 400px);
    transition: 0.6s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.contact {
    min-height: 800px;
}

footer {
    background-color: #333;
    color: #aaa;
    min-height: 120px;
}

footer p {
    font-size: 0.9em;
    padding-top: 40px;
}

footer p i {
    color: salmon;
}